body {
    transition: background-color 3s ease-in-out;
    animation: colorchange 60s infinite alternate;
    -webkit-transition: background-color 3s ease-in-out;
    -webkit-animation: colorchange 60s infinite alternate;
    /*background-image: linear-gradient( to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 40%) !important;*/
}

.filter-green {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(103deg) brightness(103%) contrast(105%);
}

@keyframes colorchange {

    0% {
        background: rgb(11, 140, 227);
    }

    10% {
        background: rgb(33, 153, 83);
    }

    20% {
        background: rgb(229, 75, 75);
    }

    30% {
        background: rgb(84, 123, 48);
    }

    40% {
        background: rgb(102, 204, 153);
    }

    50% {
        background: rgb(211, 84, 0);
    }

    60% {
        background: rgb(249, 152, 153);
    }

    70% {
        background: rgb(250, 121, 0);
    }

    80% {
        background: rgb(120, 173, 69);
    }

    90% {
        background: rgb(254, 190, 18);
    }

    100% {
        background: rgb(28, 18, 139);
    }
}
